// Import jQuery before materialize.js
script(src="/javascripts/jquery.min.js")
script(src="/javascripts/materialize.min.js")
script(src="/javascripts/dragula.min.js")
script(src="/javascripts/dom-autoscroller.min.js")
script(src="/javascripts/mealer.js")
