extends layout

block content
  .navbar-fixed
    nav.blue.darken-4
      .nav-wrapper
        a.brand-logo(href="/") Mealer
        ul.right.hide-on-med-and-down
          li: a(href="#badges") About
          li: a(href="#badges") Sign In

  .row
    #week.col.s5.blue.lighten-5
      //- days appended from mealer.js

    #recipes.col.s7
      #meals
        //- recipies appended from mealer.js
  include includes/foot
