extends layout

block content
  .row.indigo
    #search-bar.col.s12.white.valign-wrapper
      i.material-icons.medium.left-align cake
      h5.left-align Mealer
      form.center-align
        input#search-field.browser-default(type="search" name="q")
        button.waves-effect.waves-light.btn Search
    #week.col.s5.blue
      each color, day in {'sunday':'red lighten-3', 'monday':'purple lighten-3', 'tuesday':'blue lighten-3', 'wednesday':'teal lighten-3', 'thursday':'light-green lighten-3', 'friday':'yellow lighten-3', 'saturday':'orange lighten-3'}
        .row
          .card(class=color)
            .card-content= day.toUpperCase()
              div.day(id=day)

    #recipes.col.s7.green
      #meals
        .meal.card.horizontal
  include includes/foot
