a {
  color: #00B7FF;
}

#week {
  overflow-y: auto;
}
.day {
  min-height: 55px;
}

#search-field {
  padding: 8px;
  margin-right: 20px;
  color: black;
  font-size: 2em;
  width: 70%;
}
.meal-image {
  max-height: 100px;
}

.halfway-fab {
  top: 0px;
  text-align: right;
}

.delete-meal {
  padding: 0px !important;
}

#sunday-card {
  background-color: #ef9a9a;
}
#monday-card {
  background-color: #ce93d8;
}
#tuesday-card {
  background-color: #90caf9;
}
#wednesday-card {
  background-color: #80cbc4;
}
#thursday-card {
  background-color: #c5e1a5;
}
#friday-card {
  background-color: #fff59d;
}
#saturday-card {
  background-color: #ffb74d;
}
