a {
  color: #00B7FF;
}

#week {
  overflow-y: auto;
}
.day {
  min-height: 25px;
}

#search-bar {
  padding: 15px;
}
#search-field {
  margin-left: 50px;
  margin-right: 50px;
  padding: 4px;
  color: black;
  font-size: 2em;
}
.meal-image {
  max-height: 100px;
}
