a {
  color: #00B7FF;
}

#logo-title {
  margin-left: 10px;
}

#week {
  overflow-y: auto;
}
.day {
  min-height: 25px;
}

#search-field {
  margin-left: 50px;
  margin-right: 50px;
  padding: 8px;
  color: black;
  font-size: 2em;
}
.meal-image {
  max-height: 100px;
}
